[bluespec]
prefix = "/usr/local"
bin = "/usr/local/bin/bsc"
libdir = "/usr/local/lib/bluespec"

[yosys]
bin = "/usr/local/bin/yosys"
libdir = "/usr/local/share/yosys"

[nextpnr]
ecp5 = "/usr/local/bin/nextpnr-ecp5"
ecp5_pack = "/usr/local/bin/ecppack"
ice40 = "/usr/local/bin/nextpnr-ice40"
ice40_pack = "/usr/local/bin/icepack"
