## A minimal constraint file for the Lattice ECP5 Evaluation Board.

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

## A10 is connected to a 12MHz clock.
LOCATE COMP "CLK_12mhz" SITE "A10";
IOBUF  PORT "CLK_12mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_12mhz" 12 MHZ;

## Buttons
LOCATE COMP "GSR_N" SITE "G2";
LOCATE COMP "btn" SITE "P4";
IOBUF PORT "GSR_N" IO_TYPE=LVCMOS33;
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

## LEDs
LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";
IOBUF PORT "led[0]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" PULLMODE=UP IO_TYPE=LVCMOS25;

## FTDI UART, after population of R34/R35, see page 24 of board users guide.
LOCATE COMP "uart_rx" SITE "P2";
LOCATE COMP "uart_tx" SITE "P3";
IOBUF PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33;
