## A starter constraint file for the Lattice ECP5 Evaluation Board.
# Change PULLMODE and IO_TYPE to fit your application.
# This board has a lot of flexibility around I/O voltages, here are the defaults
# VCCIO0 3.3V [2.5V, 1.5V, 1.2V]
# VCCIO1 2.5V [3.3V]
# VCCIO2 3.3V [2.5V, 3.3V_AR]
# VCCIO3 3.3V [2.5V, 3.3V_RASP]
# VCCIO6 3.3V [2.5V]
# VCCIO7 3.3V [2.5V, 1.5V, 1.2V]
# VCCIO8 3.3V [2.5V]

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

## A10 is connected to a 12MHz clock.
LOCATE COMP "CLK_12mhz" SITE "A10";
IOBUF  PORT "CLK_12mhz" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
FREQUENCY PORT "CLK_12mhz" 12 MHZ;

## Buttons
LOCATE COMP "GSR_N" SITE "G2";
LOCATE COMP "btn" SITE "P4";
IOBUF PORT "GSR_N" IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "btn" IO_TYPE=LVCMOS33; # VCCIO6

## LEDs
LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";
IOBUF PORT "led[0]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "led[1]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "led[2]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "led[3]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "led[4]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "led[5]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "led[6]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "led[7]" PULLMODE=UP IO_TYPE=LVCMOS25; # VCCIO1

## DIP Switch SW5
LOCATE COMP "switch[1]" SITE "J1";
LOCATE COMP "switch[2]" SITE "H1";
LOCATE COMP "switch[3]" SITE "K1";
LOCATE COMP "switch[4]" SITE "E15";
LOCATE COMP "switch[5]" SITE "D16";
LOCATE COMP "switch[6]" SITE "B16";
LOCATE COMP "switch[7]" SITE "C16";
LOCATE COMP "switch[8]" SITE "A16";
IOBUF PORT "switch[1]" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "switch[2]" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "switch[3]" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "switch[4]" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "switch[5]" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "switch[6]" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "switch[7]" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "switch[8]" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1

## FTDI UART, after population of R34/R35, see page 24 of board users guide.
LOCATE COMP "uart_rx" SITE "P2";
LOCATE COMP "uart_tx" SITE "P3";
IOBUF PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33; # VCCIO0

## GPIO - Versa J39
LOCATE COMP "gpio_j39_4" SITE "D15";
LOCATE COMP "gpio_j39_5" SITE "B15";
LOCATE COMP "gpio_j39_6" SITE "C15";
LOCATE COMP "gpio_j39_7" SITE "B13";
LOCATE COMP "gpio_j39_8" SITE "B20";
LOCATE COMP "gpio_j39_9" SITE "D11";
LOCATE COMP "gpio_j39_10" SITE "E11";
LOCATE COMP "gpio_j39_11" SITE "B12";
LOCATE COMP "gpio_j39_12" SITE "C12";
LOCATE COMP "gpio_j39_13" SITE "D12";
LOCATE COMP "gpio_j39_14" SITE "E12";
LOCATE COMP "gpio_j39_15" SITE "C13";
LOCATE COMP "gpio_j39_16" SITE "D13";
LOCATE COMP "gpio_j39_17" SITE "E13";
LOCATE COMP "gpio_j39_18" SITE "A14";
LOCATE COMP "gpio_j39_19" SITE "A9";
LOCATE COMP "gpio_j39_20" SITE "B10";
LOCATE COMP "gpio_j39_31" SITE "A11";
LOCATE COMP "gpio_j39_33" SITE "A19";
IOBUF PORT "gpio_j39_4" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_5" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_6" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_7" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_8" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_9" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_10" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_11" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_12" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_13" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_14" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_15" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_16" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_17" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_18" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j39_19" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j39_20" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j39_31" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j39_33" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0


## GPIO - Versa J40
LOCATE COMP "gpio_j40_1" SITE "K2";
LOCATE COMP "gpio_j40_3" SITE "A15";
LOCATE COMP "gpio_j40_4" SITE "F1";
LOCATE COMP "gpio_j40_5" SITE "H2";
LOCATE COMP "gpio_j40_6" SITE "G1";
LOCATE COMP "gpio_j40_7" SITE "J4";
LOCATE COMP "gpio_j40_8" SITE "J5";
LOCATE COMP "gpio_j40_9" SITE "J3";
LOCATE COMP "gpio_j40_10" SITE "K3";
LOCATE COMP "gpio_j40_11" SITE "L4";
LOCATE COMP "gpio_j40_12" SITE "L5";
LOCATE COMP "gpio_j40_13" SITE "M4";
LOCATE COMP "gpio_j40_14" SITE "N5";
LOCATE COMP "gpio_j40_15" SITE "N4";
LOCATE COMP "gpio_j40_16" SITE "P5";
LOCATE COMP "gpio_j40_17" SITE "N3";
LOCATE COMP "gpio_j40_18" SITE "M3";
LOCATE COMP "gpio_j40_21" SITE "K5";
LOCATE COMP "gpio_j40_23" SITE "M5";
LOCATE COMP "gpio_j40_25" SITE "L3";
LOCATE COMP "gpio_j40_27" SITE "N2";
LOCATE COMP "gpio_j40_28" SITE "M1";
LOCATE COMP "gpio_j40_29" SITE "L2";
LOCATE COMP "gpio_j40_31" SITE "L1";
LOCATE COMP "gpio_j40_32" SITE "N1";
LOCATE COMP "gpio_j40_33" SITE "C14";
LOCATE COMP "gpio_j40_35" SITE "P1";
LOCATE COMP "gpio_j40_36" SITE "E14";
LOCATE COMP "gpio_j40_37" SITE "D14";
LOCATE COMP "gpio_j40_39" SITE "K4";
IOBUF PORT "gpio_j40_1" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_3" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j40_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_8" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_9" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_10" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_11" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_12" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_13" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_14" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_15" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_16" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_17" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_18" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_21" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_23" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_25" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_27" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_28" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_29" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_31" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_32" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6
IOBUF PORT "gpio_j40_33" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j40_36" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j40_37" PULLMODE=NONE IO_TYPE=LVCMOS25; # VCCIO1
IOBUF PORT "gpio_j40_39" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO6

## GPIO - Arduino J6
LOCATE COMP "gpio_j6_1" SITE "K16";
LOCATE COMP "gpio_j6_2" SITE "J16";
LOCATE COMP "gpio_j6_3" SITE "H17";
LOCATE COMP "gpio_j6_4" SITE "J17";
LOCATE COMP "gpio_j6_5" SITE "H18";
LOCATE COMP "gpio_j6_6" SITE "H16";
LOCATE COMP "gpio_j6_8" SITE "G18"; # Requires R27 install
LOCATE COMP "gpio_j6_9" SITE "G16"; # Requires R26 install
LOCATE COMP "gpio_j6_10" SITE "F17"; # Requires R25 install
IOBUF PORT "gpio_j6_1" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_2" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_8" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_9" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j6_10" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2

## GPIO - Arduino J3
LOCATE COMP "gpio_j3_1" SITE "F19";
LOCATE COMP "gpio_j3_2" SITE "F20";
LOCATE COMP "gpio_j3_3" SITE "E20";
LOCATE COMP "gpio_j3_4" SITE "E19";
LOCATE COMP "gpio_j3_5" SITE "D19";
LOCATE COMP "gpio_j3_6" SITE "D20";
LOCATE COMP "gpio_j3_7" SITE "C20";
LOCATE COMP "gpio_j3_8" SITE "K17";
IOBUF PORT "gpio_j3_1" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j3_2" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j3_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j3_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j3_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j3_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j3_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j3_8" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2

## GPIO - Arduino J7
LOCATE COMP "gpio_j7_1" SITE "C18";
LOCATE COMP "gpio_j7_3" SITE "D17";
IOBUF PORT "gpio_j7_1" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j7_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2

## GPIO - Arduino J4
LOCATE COMP "gpio_j4_1" SITE "F18";
LOCATE COMP "gpio_j4_2" SITE "E17";
LOCATE COMP "gpio_j4_3" SITE "E18";
LOCATE COMP "gpio_j4_4" SITE "D18";
LOCATE COMP "gpio_j4_5" SITE "F16";
LOCATE COMP "gpio_j4_6" SITE "E16";
IOBUF PORT "gpio_j4_1" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j4_2" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j4_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j4_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j4_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j4_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2

## GPIO - Raspberry Pi JP8
LOCATE COMP "gpio_jp8_3" SITE "T17";
LOCATE COMP "gpio_jp8_5" SITE "U16";
LOCATE COMP "gpio_jp8_7" SITE "U17";
LOCATE COMP "gpio_jp8_8" SITE "P18"; # Requires R38 install
LOCATE COMP "gpio_jp8_10" SITE "N20"; # Requires R39 install
LOCATE COMP "gpio_jp8_11" SITE "N19"; # Requires R40 install
LOCATE COMP "gpio_jp8_12" SITE "T16"; # Requires R41 install
LOCATE COMP "gpio_jp8_13" SITE "M18";
LOCATE COMP "gpio_jp8_15" SITE "N17";
LOCATE COMP "gpio_jp8_16" SITE "P17";
LOCATE COMP "gpio_jp8_18" SITE "M17";
LOCATE COMP "gpio_jp8_19" SITE "U20";
LOCATE COMP "gpio_jp8_21" SITE "T19";
LOCATE COMP "gpio_jp8_22" SITE "N18";
LOCATE COMP "gpio_jp8_23" SITE "R20";
LOCATE COMP "gpio_jp8_24" SITE "U19";
LOCATE COMP "gpio_jp8_26" SITE "R18";
LOCATE COMP "gpio_jp8_27" SITE "L18"; # Requires R33 install
LOCATE COMP "gpio_jp8_28" SITE "L17"; # Requires R32 install
LOCATE COMP "gpio_jp8_29" SITE "U18"; 
LOCATE COMP "gpio_jp8_31" SITE "T18";
LOCATE COMP "gpio_jp8_32" SITE "T20";
LOCATE COMP "gpio_jp8_33" SITE "P20";
LOCATE COMP "gpio_jp8_35" SITE "R17";
LOCATE COMP "gpio_jp8_36" SITE "P19";
LOCATE COMP "gpio_jp8_37" SITE "N16";
LOCATE COMP "gpio_jp8_38" SITE "P16";
LOCATE COMP "gpio_jp8_40" SITE "R16";
IOBUF PORT "gpio_jp8_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_8" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_10" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_11" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_12" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_13" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_15" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_16" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_18" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_19" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_21" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_22" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_23" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_24" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_26" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_27" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_28" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_29" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_31" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_32" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_33" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_35" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_36" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_37" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_38" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_jp8_40" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3

## GPIO - Differential Header J5
LOCATE COMP "gpio_j5_3" SITE "H20";
LOCATE COMP "gpio_j5_4" SITE "G19";
LOCATE COMP "gpio_j5_7" SITE "K18";
LOCATE COMP "gpio_j5_8" SITE "J18";
LOCATE COMP "gpio_j5_11" SITE "K19";
LOCATE COMP "gpio_j5_12" SITE "J19";
LOCATE COMP "gpio_j5_15" SITE "K20";
LOCATE COMP "gpio_j5_16" SITE "J20";
LOCATE COMP "gpio_j5_19" SITE "G20";
IOBUF PORT "gpio_j5_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_8" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_11" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_12" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_15" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_16" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2
IOBUF PORT "gpio_j5_19" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO2

## GPIO - Header J8
LOCATE COMP "gpio_j8_3" SITE "L19";
LOCATE COMP "gpio_j8_4" SITE "M19";
LOCATE COMP "gpio_j8_5" SITE "L20";
LOCATE COMP "gpio_j8_6" SITE "M20";
LOCATE COMP "gpio_j8_7" SITE "L16";
IOBUF PORT "gpio_j8_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_j8_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_j8_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_j8_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3
IOBUF PORT "gpio_j8_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO3

## GPIO - Differential Header J32
LOCATE COMP "gpio_j32_5" SITE "A5";
LOCATE COMP "gpio_j32_6" SITE "A4";
LOCATE COMP "gpio_j32_9" SITE "C5";
LOCATE COMP "gpio_j32_10" SITE "B5";
LOCATE COMP "gpio_j32_13" SITE "B4";
LOCATE COMP "gpio_j32_14" SITE "C4";
LOCATE COMP "gpio_j32_17" SITE "B3";
LOCATE COMP "gpio_j32_18" SITE "A3";
LOCATE COMP "gpio_j32_21" SITE "D5";
LOCATE COMP "gpio_j32_22" SITE "E4";
LOCATE COMP "gpio_j32_25" SITE "D3";
LOCATE COMP "gpio_j32_26" SITE "C3";
LOCATE COMP "gpio_j32_29" SITE "E3";
LOCATE COMP "gpio_j32_30" SITE "F4";
LOCATE COMP "gpio_j32_33" SITE "F5";
LOCATE COMP "gpio_j32_34" SITE "E5";
LOCATE COMP "gpio_j32_37" SITE "B1";
LOCATE COMP "gpio_j32_38" SITE "A2";
IOBUF PORT "gpio_j32_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_9" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_10" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_13" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_14" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_17" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_18" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_21" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_22" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_25" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_26" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_29" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_30" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_33" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_34" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_37" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j32_38" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7

## GPIO - Differential Header J32
LOCATE COMP "gpio_j33_5" SITE "C2";
LOCATE COMP "gpio_j33_6" SITE "B2";
LOCATE COMP "gpio_j33_9" SITE "D1";
LOCATE COMP "gpio_j33_10" SITE "C1";
LOCATE COMP "gpio_j33_13" SITE "E1";
LOCATE COMP "gpio_j33_14" SITE "D2";
LOCATE COMP "gpio_j33_17" SITE "G5";
LOCATE COMP "gpio_j33_18" SITE "H4";
LOCATE COMP "gpio_j33_21" SITE "H3";
LOCATE COMP "gpio_j33_22" SITE "H5";
LOCATE COMP "gpio_j33_25" SITE "F3";
LOCATE COMP "gpio_j33_26" SITE "G3";
LOCATE COMP "gpio_j33_29" SITE "E2";
LOCATE COMP "gpio_j33_30" SITE "F2";
IOBUF PORT "gpio_j33_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_9" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_10" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_13" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_14" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_17" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_18" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_21" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_22" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_25" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_26" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_29" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7
IOBUF PORT "gpio_j33_30" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO7

## GPIO - Microphone Expansion Header J30
LOCATE COMP "gpio_j30_2" SITE "B6";
LOCATE COMP "gpio_j30_3" SITE "D9";
LOCATE COMP "gpio_j30_4" SITE "C9";
LOCATE COMP "gpio_j30_5" SITE "E9";
LOCATE COMP "gpio_j30_6" SITE "D10";
LOCATE COMP "gpio_j30_7" SITE "A6";
LOCATE COMP "gpio_j30_8" SITE "E10";
IOBUF PORT "gpio_j30_2" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j30_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j30_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j30_5" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j30_6" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j30_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j30_8" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0

## GPIO - PMOD Header J30
LOCATE COMP "gpio_j31_1" SITE "C6";
LOCATE COMP "gpio_j31_2" SITE "C7";
LOCATE COMP "gpio_j31_3" SITE "E8";
LOCATE COMP "gpio_j31_4" SITE "D8";
LOCATE COMP "gpio_j31_7" SITE "C8";
LOCATE COMP "gpio_j31_8" SITE "B8";
LOCATE COMP "gpio_j31_9" SITE "A7";
LOCATE COMP "gpio_j31_10" SITE "A8";
IOBUF PORT "gpio_j31_1" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j31_2" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j31_3" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j31_4" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j31_7" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j31_8" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j31_9" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
IOBUF PORT "gpio_j31_10" PULLMODE=NONE IO_TYPE=LVCMOS33; # VCCIO0
